MONGODB_URI=mongodb://yousuf:lQpLh2Wr8TwdEvWa@ac-u6v4cdd-shard-00-00.vvutlto.mongodb.net:27017,ac-u6v4cdd-shard-00-01.vvutlto.mongodb.net:27017,ac-u6v4cdd-shard-00-02.vvutlto.mongodb.net:27017/?ssl=true&replicaSet=atlas-zxodx5-shard-0&authSource=admin&appName=Cluster0
MONGODB_DB=bazardor
BETTER_AUTH_SECRET=bazardor_super_secret_auth_key_1234567890_abcdefgh
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=Ov23lih863TVQ3yljnR4
GITHUB_CLIENT_SECRET=f08f2ddc41f1003aab91ca654fe2496044007042
NEXT_PUBLIC_API_URL_1=https://api.abcz.workers.dev/api/bazardor
NEXT_PUBLIC_API_URL_2=https://api.api-store.workers.dev/api/bazardor


# yousuf
# # lQpLh2Wr8TwdEvWa
