MONGODB_URI=mongodb+srv://bazzar_dor:cEl80f3yetAeTIPM@cluster0.vvutlto.mongodb.net/bazardor?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB=bazardor
BETTER_AUTH_SECRET=bazardor_super_secret_auth_key_1234567890_abcdefgh
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXT_PUBLIC_API_URL_1=https://api.abcz.workers.dev/api/bazardor
NEXT_PUBLIC_API_URL_2=https://api.api-store.workers.dev/api/bazardor